<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Kim Walls{% endblock %}</title>
    <meta name="author" content="Kim Walls">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords, here">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/6677827898.js" crossorigin="anonymous"></script>
</head>
<body>

<body>
<nav id="sidebar" class="sidebar">
    <!--title
   -->
   <h1 class="logo-text"><a href="{{ url_for('index') }}">Kim Walls</a></h1>

    <!--link that scrolls to relevant category-->
    {%for category in categories %}
    <h2 class="nav-link"><a href="#{{ category }}">{{ category }}</a></h2>
    {% endfor %}
      <footer>
                <h2><a href="{{ url_for('index') }}">Back to Home</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
            <!--links-->
                <ul>
                    <li><a href="https://www.instagram.com/simple_soybean_drink/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/@potatothistle"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kim-walls-b08b988a/"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/kimlamwalls"><i class="fa-brands fa-github"></i></a></li>
                </ul>
    </footer>
</nav>

    <main id="main">
        {% block content %}
        {% endblock content%}
    </main>

</body>
</body>
</html>
