<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Minimal Blog{% endblock %}</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords, here">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<nav>
    <button>Menu</button>
    <div>
        <ul>
            {% block post_links %}{% endblock %}
        </ul>
    </div>
</nav>
<div>
    {% block content %}{% endblock %}
</div>
<footer>
    <div>
        <h3>Social</h3>
        <ul>
            <li><a href="#">Add social link</a></li>
        </ul>
    </div>
</footer>
<script>
    // Progress bar and menu toggle scripts can go here if needed
</script>
</body>
</html>
