@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600;700&display=swap'); /* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    background-color: rgb(236, 236, 236);
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/*overwrite default titles and make sizing auto*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


/* SIDE BAR STYLING */

.sidebar {
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 20px;
}

/*Test and link styling sidebar*/
.sidebar a {
    padding: 0.5vw 0.5vw 0.5vw 2vw;
    text-decoration: none;
    font-size: 2vw;
    color: #b2b2b2;
    display: block;

}

.sidebar a:hover {
    color: #f1f1f1;
    transition: 0.25s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN CONTENT STYLING */
#main {
    margin-left: 15vw; /* This should be equal to the width of your sidebar */
    margin-bottom: 10rem;
    flex-grow: 1;
}

/* GRID SETUP STYLING */

.grid-container {
    diplay: block;
    /*gap: 5%;*/
    width: 100%;
    margin: auto;
}

/* GRID ITEM STYLING */

.grid-row-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    /*evenly space */
    width: 100%;
    margin-top: 6vw;
}

/*Proximity to section title*/
.smaller-margin-top{
    margin-top: 1.5vw;
}

/*box sizing and styling*/
.grid-item{
    background-color: #a76b6b;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
    position: relative;
    text-align: center;
    width: 35%;/*Main sizing parameter*/
    aspect-ratio: 1 / 1;    /*maintain 1:1 aspect ratio*/
    overflow: hidden;
    filter: brightness(0.9); /* Hover effect to darken  the box */
    transition: filter 0.5s;
    filter: blur(0.5px); /* Hover effect to blur the box */
    transition: filter 0.5s;

}

/*Hover effect*/
.grid-item:hover {
    /*
    transform: scale(1.05); !* Hover effect to enlarge the box slightly *!
    */
    /*
    transition: transform 0.3s;
    */
    filter: brightness(1.2); /* Hover effect to brighten the box */
    transition: filter 0.5s;
    filter: blur(0px); /* Hover effect to blur the box */
    transition: filter 0.05s;
}

/*Evenly space grid items the from the middle, based on viewport width*/
.grid-L{
    margin-left: auto;
    margin-right:5%;
}

.grid-R{
    margin-right: auto;
    margin-left:5%;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fits within the container */
    display: block;
    z-index: 1; /* Place the image behind the text */
    position: absolute; /* Ensure the image fills the grid item */
    top: 0;
    left: 0;
}

.grid-item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the text is above the image */
    color: white; /* Ensure text is readable over the image */
}

.section-title-h2 {
    font-size: 4vw;
    font-weight: 300;
    align-content: center;
    justify-content: center;
    margin-left: 8.4vw;
    width: fit-content;
    padding-top: 5vw;
}

/* ==========FOOTER STYLING============= */
footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    height: 10rem;
}